# Python / Django
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/*.pyc
backend/.env
backend/db.postegres

# React / Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Éditeurs
.vscode/
.idea/node_modules/
frontend/node_modules/
